/* ----- NAVBAR (C) --------- */
.navbar-sec {
    display: flex;
    justify-content: space-between;
    padding: 16px 5rem;
    background-color: rgb(35, 32, 32);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(255, 255, 255, 0.7);
    background-color: #1f1111;
    border: 1px solid #432c2c;

    nav {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    img {
        width: 22px;
    }

    p {
        display: flex;
        align-items: center;
        gap: 10px;
    }


}


/* ----- HERO (C) --------- */

.hero-sec {
    margin-bottom: 6rem;
    position: relative;
}


.hero-paragraph {
    font-family: inter;
    width: 100%;
    height: 300px;
    text-align: center;

    h1 {
        font-weight: 600;
        font-size: 4rem;
        margin-top: 35px;
        margin-bottom: 20px;
        letter-spacing: -5px;
        color:var(--text-primary);
    }


}

.hero-img-behind {
    position: absolute;
    z-index: -1;
    height: 600px;
    width: 900px;
    left: 15%;
    top: -50%;
    opacity: 0.3;

    clip-path: polygon(0 0,
            /* top-left */
            100% 0,
            /* top-right */
            100% 80%,
            /* corte esquina inferior derecha */
            0 100%
            /* bottom-left */
        );

}


.homepage-two-columns {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 300px;
}

/* ----- FOOTER (C) --------- */

.footer-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    gap: 15px;
    font-size: 12px;

    img {
        height: 24px;
    }
    
    p{
        border-radius: 6px;
    }
    nav {
        display: flex;
        align-items: start;
        gap: 20px;
        margin-bottom: 40px;
    }

    p a {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 14px 35px;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
    }

    

    nav p:nth-of-type(1) {
        background-color: rgba(0, 28, 64, 0.985);
        border: 1px solid #0049a9;

        a{
            color: #b5dbff;
        }

        img{
            width:18px;
        }

    }
    nav p:nth-of-type(2) {
        background-color: rgb(85, 0, 0);
        border: 1px solid rgb(92, 1, 1);
         a{
            color: #ffbcbc;
        }
        
    }

    nav p:nth-of-type(3) {
        background-color: rgb(37, 37, 37);
                border: 1px solid black;
        a{
            color: white;
        }
    }

}



/** ----- RESPONSIVE LAPTOP ----- **/

/* 
@media(min-width:1200px) {


    #grid {
        display: grid;
        margin: 10px 30px;
        grid-template-columns: repeat(3);
        justify-content: center;
        align-items: start;
        grid-template-areas:
            "one_sec two_sec three_sec"
            "one_sec two_sec three_sec";
        gap: 80px;
    }


    .projectCard {
        width: 240px;

        .imgPrincipal {
            height: 160px;
        }
    }

    .projectsCard {
        gap: 25px;

        h1 {
            font-size: 22px;
        }

        div:nth-of-type(2) {

            section {
                height: 340px;
            }

            .imgPrincipal {
                height: 185px;
            }
        }
    }

    .about_me_component {
        margin-bottom: 0;
    }


    .one_sec {
        grid-area: one_sec;
        display: flex;
        flex-direction: column;
        gap: 80px;

        .technologies {
            margin-bottom: 0;
        }
    }

    .two_sec {
        grid-area: two_sec;

    }

    .three_sec {
        grid-area: three_sec;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }


    .technologies {
        margin-bottom: 0px;
    }

    .special_phrases {
        display: none;
    }

    .navbar {
        img {
            width: 25px;
        }
    }

    .buttons {
        font-size: 12px;
        background-color: rgb(184, 184, 184, 0.15);
        padding: 12px 20px;
        border-radius: 6px;
        font-family: inter;
        font-weight: 300;
    }

    .buttonsTop {
        gap: 10px;
    }

    .heroParagraph {
        width: 100%;
        margin-bottom: 40px;

        h1,
        p {
            font-size: 50px;
        }
    }

    .projectsCard,
    .languages,
    .services,
    .aboutMe,
    .certifications {
        margin-bottom: 0;
    }

}
*/