/* ----- BUTTONS (SC) --------- */

.buttons-below-navbar {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    margin-bottom: 5rem;
    gap: 10px;

    span {
        border:1px solid rgb(86, 35, 35,0.3);
        color: rgb(86, 35, 35);
        background-color:rgb(207, 201, 201);
        font-size: 12px;
        padding: 10px 16px;
        border-radius: 6px;
        font-family: inter;
        font-weight: 600;
        letter-spacing:-0.5px;
    }
}

/* ----- TECHNOLOGY (SC) --------- */


/* BUTTON HEADER CARDS (ST) --------- */





/* contacts button */

.button-social{
    border-radius: 10px;
    
}