/* ----- BUTTONS (SC) --------- */

.buttons-below-navbar {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    gap: 10px;

    span {
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
        background-color: rgba(55, 55, 55, 0.6);
        font-size: 1em;
        padding: 10px 16px;
        border-radius: 6px;
        font-family: inter;
        font-weight: 500;
        letter-spacing: -0.5px;
        backdrop-filter: blur(3px);
    }
}
