.hero{
 display:flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-bottom: 6em;
 position:relative;
}



.heroSection {
  display:flex;
  margin-top: 6em;
  align-items: center;
  flex-direction: column;
  z-index: 2;

    h1 {
        backdrop-filter: blur(4px);
        font-weight: 600;
        font-size: 4.5rem;
        letter-spacing: -5px;
        text-align: center;
        width: fit-content;
        padding: 10px;
    }


}

.paragraph{
    background-color: rgb(0, 0, 0,.8);
    width: 100%;
    color:white;
    text-align: center;
    padding:.7em;
    font-size: 15px;
}


.whiteBasic {
    background: linear-gradient(120deg, #c9c9c9, #c9c9c9, #2d2d2d, #2d2d2d, #c9c9c9, #c9c9c9);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
    


.buttons{
    display:flex;
    gap:.5em;
    margin-top: 1em;
    span{
        background-color: rgba(0,0,0,0.5);
        padding:.6em 1em;
        border-radius: .5em;
        color:white;

    }
}
