.technology{
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    section{
        margin-top: 10px;
    }
}


.technologies{
    
    .technologies_section{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:1px;
        margin-bottom: 2em;
    }

    div{
        display:flex;
    }
}


.category{
    color:rgb(0, 0, 0,0.6);
}