.technology {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;

    section {
        margin-top: 1em;
    }

    img{
        width: 60px;
    }

    h4 {
        font-size: var(--font-sm);
        font-weight: 500;
    }

    span {
        font-size: var(--font-sm);
    }
}




.technologies {

    .technologies_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1px;
        margin-bottom: 2em;
    }

    div {
        display: flex;
    }
}


.category {
    color: rgb(0, 0, 0, 0.6);
}
