.mockup {
    max-width: 40em;
    border: 1px solid rgb(59, 59, 59, 0.5);

    display: flex;
    flex-direction: column;

    .imgMockup {
        width: 100%;
        max-width: 1200px;
        height: 600px;
        object-fit: cover;
    }




    section {
        margin: 2em;
    }

    header {
        margin-bottom: 1em;
    }


    header div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    header div span {
        background-color: rgb(63, 63, 63);
        padding: 6px 12px;
        font-size: var(--font-sm);
        letter-spacing: -1px;
        font-weight: 700;
        border-radius: 0.5em;
        color: rgb(230, 230, 230);
    }

    header h1 {
        display: flex;
        align-items: center;
        gap: 0.1em;
        letter-spacing: -1px;
        font-size: var(--font-lg);
    }

    h2 {
        font-size: var(--font-sm);
        font-weight: 500;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .technologies {
        display: flex;
        gap: .5em;
    }

    .technologies img {
        width: 2.5em;
        height: 2.5em;
    }

    p {
        font-size: var(--font-sm);
    }


}


@media (max-width:768px) {
    .mockup {
        .imgMockup {
            height: 400px;
        }

    }
}