* {
    margin: 0;
    padding: 0;
    font-family: inter;
    box-sizing: border-box;

}

@font-face {
  font-family: 'GT Super';
  src: url('../assets/fonts/GT-Super.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root{
    --text-primary: #432c2c;
}

body{
    max-width:1300px;
    margin:0 auto;
    color:rgb(40, 40, 40);
    background-color: #e7e7e7;

    a{
        color:black;
        text-decoration: none;
    }
}

.homepage-two-columns {
    display:flex;
    justify-content:space-between;
    margin-bottom: 300px;
}

/* RELUCIENT (ST) --------- */


@keyframes moveGradient {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* background con el tipo de gradiente, la inclinacion y los colores
   el tamaño para que tenga mas variedad de colores en la transición y para que se adhiera al texto backgroud-clip*/

.animated_white_basic {
    background: linear-gradient(30deg, #202020, #202020, #bfbfbf, #202020, #202020);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 5s linear infinite;
}

