.aboutMe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    line-height: 1.5;
    gap:2em;
    font-size: 1.2em;
    letter-spacing: -1px;
    span{
        color:rgb(161, 161, 161);
    }
}