.certificationsContainer {
    text-align: end;
    max-width: 30rem;

    header {
        display: flex;
        align-items: start;
        justify-content: end;
        padding: 1rem;
        border-bottom: 1px solid rgb(0, 0, 0, 0.9);
        color:rgb(62, 61, 61);
        gap: 1em;
        margin-bottom: 1em;
    }

    header img {
        width: 2em;
        height: 2em;
        margin-top: 0.5em;
    }

    header div h2 {
        font-weight: 500;
        font-size: var(--font-md);
        margin-bottom: .3em;
        color:black;
    }

    header div h3 {
        font-weight: 400;
        font-size: var(--font-sm);
    }

       p{
        font-size: var(--font-md);
    }

}