* {
    background-color: black;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-family: inter;
    box-sizing: border-box;

}

/* RELUCIENT (ST) --------- */

@keyframes moveGradient {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animated_white_basic {
    background: linear-gradient(30deg, #525252, #525252, #525252, #525252, #ffffff, #ffffff, #525252, #525252, #525252, #525252);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 5s linear infinite;
}

.special_relucient {
    background: linear-gradient(90deg, #6d6d6d, #6d6d6d, #6d6d6d, #6d6d6d, #c5c5c5, #6d6d6d, #6d6d6d, #6d6d6d, #6d6d6d);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 6s linear infinite;
}

/* BUTTON HEADER (ST) --------- */

.buttonHeader {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 30px;
    font-weight: 300;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 20px;
}





/* ----- NAVBAR (C) --------- */
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0;

    nav {
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    img {
        width: 21px;
    }
}

/* ----- BUTTONS (SC) --------- */

.buttonsTop {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 3px;
}

.buttons {
    background-color: rgba(255, 255, 255, 0.14);
    font-size: 9px;
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    border-radius: 6px;
    font-family: inter;
    font-weight: 300;
}

/* ----- HERO (C) --------- */

.heroParagraph {
    font-family: inter;
    width: 100%;
    height: 300px;
    text-align: center;

    h1 {
        font-weight: 100;
        color: rgba(255, 255, 255, 0.7);
        font-size: 2.5rem;
        word-spacing: 2px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    span {
        font-weight: 100;
        color: white;
    }
}

/* ----- PROJECT CARD (SC) --------- */

.projectCard {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    width: 210px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;

    header {
        margin: 10px 0;
    }

    h1 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 4px;

        a {
            text-decoration: none;
        }
    }

    span {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.3);
    }

    div {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
    }

    .lineDate {
        width: 40px;
        height: fit-content;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    p {
        margin-top: 8px;
        font-size: 11px;
        padding: 2px 10px;
        color: rgba(255, 255, 255, 0.5);
    }

    .imgPrincipal {
        width: 100%;
        height: 140px;
        padding: 3px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    img {
        width: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        padding: 8px 0;

        ul {
            display: flex;
            gap: 10px;
        }
    }

}

/* ----- PROJECTS CARD (C) --------- */

.projectsCard {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    padding-bottom: 10px;
    overflow-x: auto;
    gap: 15px;
    align-items: center;
    margin-bottom: 160px;
}



.bigText {
    text-align: center;
    margin-bottom: 160px;
    h1 {
        font-weight: 100;
    }
}

/* ----- TECHNOLOGY (SC) --------- */

.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



/* SERVICES (C) */

.services {
    width: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

/* LANGUAGES (C) */

.languages {
    width: 300px;
    margin-bottom: 160px;
}

.certifications{
    width: 300px;
    margin-bottom: 160px;
    text-align: center;
}

/* ----- TECHNOLOGIES (C) --------- */

.technologies {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 160px;   
}

/* ----- ABOUT ME (C) --------- */

.aboutMe {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 160px;

    a {
        text-decoration: none;
    }


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 300;
        text-align: center;
    }

    .curriculums {
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        img {
            width: 26px;
        }
    }
}



.list_design {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 300px;
    padding: 0 20px;

    div {

        display: flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 10px;
        padding-bottom: 15px;

        span {
            font-weight: 200;
        }

        img {
            height: 25px;
        }

        a {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

    }



}

.services div img {
    height: 20px;
}

/* ----- FOOTER (C) --------- */

footer {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    text-align: center;
    gap: 15px;
    font-size: 12px;

    nav {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }

    img {
        height: 24px;
    }

    .separator {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    section {
        font-size: 11px;

        span {
            color: #6d6d6d;
        }

        span {
            font-size: 8px;
        }

        .special_relucient {
            margin-bottom: 10px;
        }
    }
}

/* Normal order Mobile First */
.contenedor {
    display: flex;
    flex-direction: column;
}

/** even inside of each sec we can order each elements of those **/
.two_sec {
    order: 0;
}

.one_sec {
    order: 1;
}

.three_sec {
    order: 2;
}

.focus_order {
    order: 3;
}

/** ----- RESPONSIVE ----- **/

@media(min-width:1200px) {


    #grid {
        display: grid;
        margin: 10px 30px;
        grid-template-columns: repeat(3);
        justify-content: center;
        align-items: start;
        grid-template-areas:
            "one_sec two_sec three_sec"
            "one_sec two_sec three_sec";
        gap: 80px;
    }




    .one_sec {
        grid-area: one_sec;
        display: flex;
        flex-direction: column;
        gap: 80px;

        .technologies{
            margin-bottom: 0;
        }
    }

    .two_sec {
        grid-area: two_sec;

    }

    .three_sec {
        grid-area: three_sec;
        display: flex;
        flex-direction: column;
        gap: 90px;
    }


    .special_phrases {
        display: none;
    }

    .navbar {
        img {
            width: 25px;
        }
    }

    .buttons {
        font-size: 12px;
        color: rgb(255, 255, 255);
        padding: 12px 14px;
        border-radius: 6px;
        font-family: inter;
        font-weight: 300;
    }

    .buttonsTop {
        gap: 10px;
    }

    .heroParagraph {
        width: 100%;
        margin-bottom: 40px;

        h1,
        p {
            font-size: 50px;
        }
    }

    .projectsCard, .languages, .services, .aboutMe, .certifications{
        margin-bottom: 0;
    }

}