*{
    background-color: black;
    margin:0;
    padding:0;
    color: rgba(255,255,255,0.7);
    font-family: inter;

}

.navbar{
    border-bottom:1px solid rgba(255, 255, 255,0.2);
    padding:15px 0;
    
    nav{
        display: flex;
        justify-content: center;
        gap: 25px;
    }
    img{
        width:21px;
    }
}


.buttonsTop{
    display:flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.buttons{
    background-color: rgba(255,255,255,0.1);
    font-size: 9px;
    color:rgb(255,255,255);
    padding:8px 10px;
    border-radius: 6px;
    font-family: inter;
    font-weight: 300;
}


.heroParagraph{    
    font-family: inter;
    text-align: center;
    
    h1{
        font-weight: 100;
        color:rgba(255,255,255,0.7);
        font-size: 2.5rem;
        word-spacing: 2px;
        margin-top:35px;
        margin-bottom:20px;
    }

    span{
        font-weight:100;
        color:white;
    }
}

/*  Relucient White Animation */
@keyframes moveGradient {
    0% { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
}

.animated_white_basic {
    background: linear-gradient(30deg, #525252,#525252, #525252, #525252, #ffffff, #ffffff, #525252, #525252, #525252,#525252);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 5s linear infinite;
}
.special_relucient {
    background: linear-gradient(90deg, #6d6d6d,#6d6d6d, #6d6d6d, #6d6d6d, #c5c5c5, #6d6d6d, #6d6d6d, #6d6d6d,#6d6d6d);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: moveGradient 6s linear infinite;
}

.projectCard{
    border:1px solid rgba(255, 255, 255, 0.3);
    border-radius: 9px;
    width: 210px;
    text-align: center;
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;

    header{
        margin:10px 0;
    }
    h1{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 4px;
    }
    span{
        font-size:12px;
        color:rgba(255, 255, 255, 0.3);
    }
    div{
        display:flex;
        align-items: center;
        gap:5px;
        justify-content: center;
    }
    .lineDate{
        width:40px;
        height: fit-content;
        border:1px solid rgba(255, 255, 255, 0.2);
    }
    p{
        margin-top:8px;
        font-size: 11px;
        padding:2px 10px;
        color:rgba(255, 255, 255, 0.5);
    }
    .imgPrincipal{
        width:100%;
        height: 140px;
        padding:3px 0;
        border-top:1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    img{
        width:20px;
    }

    nav{
        display:flex;
        justify-content: space-between;
        margin:0 10px;
        padding:8px 0;

        ul{
            display:flex;
            gap:10px;
        }
    }

}

.projectsCard{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    padding:0 10px;
    padding-bottom: 10px;
    overflow-x:auto;
    gap:10px;
    align-items: center;
}


.bigText{
    text-align: center;
    margin: 150px 0;
    h1{
        font-weight: 100;
    }
}

.technology{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    font-size: 12px;
    color:rgba(255,255,255,0.2);

    img {
        height: 32px;
    }
}
.buttonHeader{
           border:1px solid rgba(255,255,255,0.2);
        padding: 15px 30px;
        font-weight: 300;
        margin-bottom: 50px;
        border-radius: 15px;
        font-size: 20px;
}
.center{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutMe{
    margin-bottom: 150px;
    a{
        text-decoration: none;
        display:flex;
        align-items: center;
        gap: 15px;
    }

    img{
        height: 20px;
    }
}

.technologies{
    display:flex;
    justify-content: center;
    width: 300px;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom: 150px;
}


.list_design{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    gap:35px;
    width: 300px;
    padding: 0 20px;

    div{
        display:flex;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 10px;
        padding-bottom: 15px;

        span{
            font-weight: 200;
        }

        img{
            height:25px;
        }
        

    }
    
}
.services div img{
    height: 20px;
}


footer{
    display:flex;
    flex-direction: column;
    margin:10px 30px;  
    text-align: center;
    gap:15px;
    font-size: 12px;
    


    nav{
        display:flex;
        justify-content: space-between;

        div{
            display:flex;
            gap:15px;
            align-items: center;
        }
    }
    img{
        height:20px;
    }

    .separator{
        display:flex;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    section{
        font-size: 11px;
        
        p,span{
            color:#6d6d6d;
        }
        span{
            font-size: 8px;
        }

        .special_relucient{
            margin-bottom: 10px;
        }
    }
}

